@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
    margin: 0;
    height: 4000px;
}


.section-head__head{
display: flex;
height: 90px;
justify-content: space-between;
align-items: center;
}
.head__btn{
    display: flex;
    align-items: center;
    width: 420px;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.btn__yelow{
    background-color: #FFD500;
    width: 90px;
    height: 30px;
  
    position: relative; 

}
.btn__yelow::after{
    content: "";
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 95px;
    height: 35px;
    border-radius: 1px;
    background-color: black;
    box-shadow: -3px 3px;
    z-index: -1;
      
}
.btn__head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    height: 650px;
    display: flex;

    
}
.section-head__body{
    background: #fbf5e3;
    width: 100%;
    flex-direction: column;

    
    

}
.section{
    width: 1310px;
    margin: 0 auto;
}
.left__title{
    
    -webkit-text-stroke: 3px black;
    text-shadow: -4px 0px 2px black;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 90px;
    display: flex;
    color: #FFD500;
    align-items: center;
   
    z-index: 2;
  
}
.box{
    content: "";
    width: 650px;
    height: 205px;
    position:absolute;
    top: 50%;
    left: 50%;
    
    border: 5px solid black;
    transform: translate(-52%, -50%);
}


.left__maintext{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    opacity: 0.5;

    display: flex;
    align-items: center;
}
.done-progect__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 17px;
}
.left__done-progect{
    display: flex;
    align-items: center;
    margin-left: 52px;
}
.left__bottom{
    display: flex;
}
.left__done-progect{
    display: flex;
}
.body__left{
    height: 65%;
    display: flex;
    margin: auto 0 auto 100px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
    flex-direction: column;
    
}


.right__smile-human {
    left: 0px;
    top: 0px;
    z-index: 100;
    display: flex;
    height: 500px;
    margin: 94px 00px 0px 0;
    align-items: center;  
    transform: translate(-50px); 
}
.right__smile-human img{
     height: 500px;
}




.body__right{
    display: flex;
    align-items: center;
    width: 70%;
    
    position: relative;
    
   
}
.arrow{
    position: absolute;
    transform: translate(40px, 10px);
}

.box__dot{
    width: 15px;
    height: 15px;
    background-color: #FFD500;
    border-radius: 3.6px;
    border: solid 3.24px black;
    position: absolute;
}
.left-top{
    left: -11.5px;
    top:-11.5px;
}
.right-top{
    right: -11.5px;
    top:-11.5px;
}
.left-bottom{
    bottom:-11.5px;
    left: -11.5px;
}
.right-bottom{
    bottom:-11.5px;
    right: -11.5px;
}
.box__star img{
    position: absolute;
    top: -85px;
    left:-53px;
}
.right__back_circle{
    background-color: #e6d9b0;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    border-radius: 50%;
    transform: translate(10px,00px);
}
.bottom{
    width: 1200px;
    height: 110px;
    background-color: #FFD500;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 0px 0px 0px 3px black;
    border-radius: 1px;
    z-index: 101;
    position: relative;
}
.bottom::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1px;
    box-shadow: -4.5px 4.5px 0px 0.5px black;
}
.people-text{
    display: flex;
}
.efect{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    transform: translate(-50px); 
}
.back-efect1{
    
    scale: 1.1;
    top: 70px;
    left: 0px;
    
}
.back-efect2{
    
    scale: 0.8;
    top: 260px;
    left: 420px;
    
    
}
.back-efect3{
    
   
    top: 100px;
    left: 110px;
    rotate: -20deg;
    
    
}


.l1{
    z-index: 3;
    position: absolute;
    bottom:0px;
    right: 0px;
}
.l2{
    z-index: 2;
    position: absolute;
    bottom: -10px;
    right: -10px;
}
.l3{
    z-index: 1;
    position: absolute;
    bottom: -20px;
    right: -20px;
}
.glav{
    position: relative;
}



.let-see{
    display: flex;
    justify-content: space-between;
    position: relative;
   
}
.we-do-text-block{
    margin:0 70px 0 70px ;
}
.what-we-do{
    margin-top: 209px;
}
.title-we-do{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color:#FFC700;
    
}
.let-see_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    width: 450px;
}
.total-service{
    position: absolute;
    top:-215px;
    left: 50px;
    width: 295px;
}
.total-service img{
    
    width: 295px;
}
.color-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;

}
.color-cards__main-card{
    position: relative;
    width: 330px;
    height: 340px;

}
.card{
    position: absolute;
    width: 307px;
    height: 320px;
    overflow: hidden;
    border: black 3.3px solid;
}
.let-see_arrows{
    margin-top: 10px;
}
.y{
    background-color: #FFC700;
}
.g{
    background-color: #0FA958;
}
.b{
    background-color: #699BF7;
}
.info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21.3408px;
    line-height: 120%;
    border: 3px solid black;
    display: inline;

}
.t1{
    position: absolute;
    left:49px;
    top: 46px;
}
.t2{
    position: absolute;
    left:73px;
    top: 135px;
}
.t3{
    position: absolute;
    left:90px;
    top: 245px;
}
.circle{
    position: absolute;
    z-index: -1;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.c1r{
    background-color: #F24E1E;
}
.c1g{
    background-color: #138F4E;
}
.c1b    {
    background-color: #588FF5;
}

.c1{

    top:-20px;
    left: -20px;
}
.c2{
    top:160px;
    left:40px;
    scale:0.7
}
.c3{
    left:223px;
    top:63px;
    scale: 0.7;
}
.happy-gay{
    display: flex;
    margin-top: 150px;
}
.left-gay{
    display: flex;
}
.gay-circle{
    width: 523px;
    height: 523px;
    background: #E7D9B0;
    border-radius: 50%;
    position:absolute;
    bottom: 0px;
    
}
.oval{
    width: 523px;
    height: 619px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #f6ebd0;

}
.gay{
    position: absolute;
    bottom:-4px;
}
.happy-gay{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;

}
.happy-gay__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFD500;
    margin-bottom: -30px;
}
.happy-gay__maintext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #1D1515;
}
.happy-gay__post-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #7C8087;
}
.happy-gay__hp-bar{
    width: 536px;
    height: 69px;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    background-color: white;
    line-height: 31px;
    letter-spacing: -0.022em;
    text-transform: capitalize;
    color: #000000;
    display: flex;
}
.happy-gay__hp-bar span{
    align-self: center;
    margin-left: 40px;
    
}
.right-gay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 30px;
}
.button-contact{
   
    background-color: #FFD500;
    width: 172px;
    height: 53px;
    border-radius: 10px;
    border: 3px black solid;    
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: -0.022em;
   
}
.hp-bar__inner{
    position: absolute;
    top: 4px;
    left: -7px;
    width: 536px;
    height: 69px;
    border-radius: 10px;
    border: 3px solid black;
    z-index: -1 ;
}
.comunity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comunity1{
    height: 700px;
    width: 1310px;
    background-color: #F9D969;
    display: flex;
    justify-content: space-around;
}
.comunity2{
    width: 1224px;
    height: 91px;
    background: #FFC700;
    transform: translate(00px,-30px);
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.comunity-left{
    display: flex;
    flex-direction: column;
    

}
.agancey-team{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFD500;
    -webkit-text-stroke:2px black;
    margin: 100px 0 21px 0;
    
}   
.meet-our{ 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #1D1515;
    margin-bottom: 21px
}
.EL-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    text-transform: capitalize;
    color: #001738;
}
.EL-info-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #666666;
}
.comunity-info{
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-between;
}
.link-block{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.link-email-info{
    border-bottom: #000000 1px solid;
    width:30%

}
.comunity-right{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.circle-people{
    width: 352px;
    height: 352px;
    border:6px solid black;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;


}
.say-hi{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    display: flex;
    position:static;
    text-align: center;
    color: #000000;
    margin: auto 30px;
    width: 80%;
    rotate: 30deg;
    height: 20%;
    justify-content: center;
    border-bottom:6px solid black;
    
}
.comunity-foot{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #1D1515;
}
.circle-people :nth-child(2){
    position: absolute;
    bottom:-80px;
    left:-150px;
}
.circle-people :nth-child(3){
    position: absolute;
    top:10px;
    right:-30px;
}
.circle-people :nth-child(4){
    position: absolute;
    bottom:20px;
    right:-100px;
}
.circle-people :nth-child(5){
    position: absolute;
    top:25px;
    left:-98px;
}
.circle-people :nth-child(6){
    position: absolute;
    top:-100px;
    left:150px;
}